{{ partial "header.html" . }}
<body
  lang="{{ .Site.LanguageCode }}"
  class="sans-serif w-90 w-60-ns center center-ns mv2 mv5-ns"
  itemscope
  itemtype="http://schema.org/Article"
>
  {{ $baseurl := .Site.BaseURL }}
  <div class="breadcrumbs">
    <a
      href="{{ .Site.BaseURL  }}"
      class="b bb bw1 pb1 no-underline black"
      >{{ .Site.Title }}</a
    >
    {{ if .Section }}
      <span class="b">/ </span>
      <a
        href="{{ .Site.BaseURL  }}/{{ .Section  }}"
        class="b bb bw1 pb1 no-underline black"
        >{{ .Section }}</a
      >
    {{ end }}
    <span class="b">/ </span>
    <a
      href="{{ .Page.Permalink  }}"
      class="b bb bw1 pb1 no-underline black"
      >{{ .Page.Title }}</a
    >
  </div>

  <section id="main" class="mt5">
    <h1 itemprop="name" id="title">{{ .Title }}</h1>
    <p class="f6 fw4 text-muted">
      {{ $timestamp := .Date.Format "15:04" }}
      <strong>{{ .Date.Format "2006-01-02" }}</strong>
      {{ if ne $timestamp "00:00" }} – <span>{{ .Date.Format "15:04" }} {{ .Date.Format "MST" }}</span>{{ end }}
    </p>

    <article itemprop="articleBody" id="content" class="w-90 lh-copy">
      {{ .Content }}
    </article>

    {{ $taxo := "categories" }} <!-- Use the plural form here -->
    {{ with .Param $taxo }}
      <p class="f6 fw4 text-muted">
        {{ if gt (len .) 1 }}Categories{{ else }}Category{{ end }}:
        {{ range $index, $category := . }}
            {{- if gt $index 0 }}, {{ end -}}
            {{ with $.Site.GetPage (printf "/%s/%s" $taxo $category) -}}
                <strong><a class="text-muted" href="{{ .Permalink }}">{{ $category }}</a></strong>
            {{- end -}}
        {{- end -}}
      </p>
    {{ end }}
  </section>

  {{ partial "footer.html" . }}
  </body>
</html>
