<!DOCTYPE html>
<html
  class=""
  lang="{{ .Site.LanguageCode }}"
  prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#"
>
  <head>
    <meta charset="utf-8" />

    {{ partial "meta.html" . }}

    <title>{{ .Site.Title }}</title>
    <link rel="canonical" href="{{ .Permalink }}" />
{{ $sitetitle := .Site.Title }}
{{ with .OutputFormats.Get "RSS" }}
    <link
      href="{{ .RelPermalink }}"
      rel="alternate"
      type="application/rss+xml"
      title="{{ $sitetitle }}"
    />
{{ end }}
    {{ partial "head_includes.html" . }}
  </head>
  <body
    lang="{{ .Site.LanguageCode }}"
    class="sans-serif w-90 w-60-ns center center-ns mv2 mv5-ns"
  >
      <a
        href="{{ .Site.BaseURL  }}"
        class="b bb bw1 pb1 no-underline black"
        >{{ .Site.Title }}</a
      >
      <section id="main" class="mt5">
      <div>
        <!-- <h1 id="title" class="f3">
          {{ .Site.Title }} {{ .Site.Params.TitleEmoji | emojify }}
        </h1> -->
        <ul class="list pl0">
          <!-- pages -->
          <!-- prettier-ignore -->
          {{ range .Site.Params.menu }}
            <li class="mv3">
              {{ .pre | safeHTML }}
              {{ if .url }}
                <a class="f3 b pa1 black" href="{{ .url }}">{{ .name }}</a>
              {{ else }}
                <span class="f3 pa1 black">{{ .name }}</span>
              {{ end }}
              {{ .post | safeHTML }}
            </li>
            {{ if .HasChildren }}
              <ul class="sub-menu">
                {{ range .Children }}
                  <li class="b mv3 ml3">
                    {{ .pre | safeHTML }}
                    <a class="f3 b pa1 black" href="{{ .url }}">{{ .name }}</a>
                    {{ .post | safeHTML }}
                  </li>
                {{ end }}
              </ul>
            {{ end }}
          <!-- prettier-ignore -->
          {{ end }}
        </ul>
      </div>
    </section>

    {{ partial "footer.html" . }}
  </body>
</html>
